body{
    margin: 0;
    background: rgb(249, 241, 230);
}

.container{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header{
    background-image: url(/img/background_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
}
h1{
    font-size:60px;
    color: rgb(148, 60, 38);
    font-style: oblique;
    text-align: center;
}

nav{
    background: rgb(246, 223, 209);
    padding: 15px;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

h2{
    font-size:40px;
    text-align: center;
    color: rgb(118, 41, 21);
}
main{
    background: rgb(255, 251, 246);
    margin: 0 15%;
    padding: 10px;
    border-radius: 20px;
    padding-top: 20px;

    font-size:20px;
    line-height: 1.6;
    text-align: center;
    color: rgb(118, 41, 21);
}

footer{
    background-color: rgb(246, 223, 209);
    padding: 5px;

    color: rgb(148, 60, 38);
    font-weight: bold;
    text-align: center;
    font-size:20px;
}